<header>
  <img src="./favicon.svg" alt="logo de favicon" />
  <a href="./inicio">Entra en tu cuenta</a>
</header>

<style>
  header {
    border: solid 5px red;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100vw;
    box-sizing: border-box;
  }
  img {
    width: auto;
    height: 33px;
    border: solid 1px green;
    margin-left: 1rem;
  }
  a {
    text-decoration: none;
    color: white;
    background-color: blue;
    padding: 5px 20px;
    border-radius: 1rem;
    margin-right: 1;
  }
</style>
